[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3.9"

[packages]
cached-property = "*"
google-cloud-firestore = "*"
google-cloud-storage = "*"
httpx = "*"
hupper = "*"
ipython = "*"
pika = "*"
python-dateutil = "*"
pytz = "*"
pyyaml = "*"
subparse = "*"
tweepy = "*"
zstandard = "*"

[dev-packages]

[scripts]
sos = "python -m sos"
